/* ClientData Component Styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ensure two columns */
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Consider large icon mode for tablets in future*/

@media (max-width: 600px) {
    .card-container {
        grid-template-columns: 1fr; /* Switch to single column on smaller screens */
    }
    .vendor-icon {
        width: 16px;
        height: 16px;
    }
    .ipmi-icon {
        width: 16px;
        height: 16px;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .vendor-icon {
        width: 32px;
        height: 32px;
    }
    .ipmi-icon {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 1201px) {
    .vendor-icon {
        width: 192px;
        height: 192px;
    }
    .ipmi-icon {
        width: 192px;
        height: 192px;
    }
}

.client-card {
    background: #FFFDF7; /* Half way between standard background and white */
    border: 1px solid #e2c75a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; /* Ensure no underline */
    position: relative; /* Set position relative for absolute positioning of icon */
}

.client-card:hover {
    background-color: #FFFDF0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.001); /* Slightly scale up on hover */
}


.client-card h2 {
    margin-top: 0;
    font-size: 32px;
    text-align: center;
    /* Deep gold text b08900*/
}

.client-card h3 {
    margin-top: 0;
    font-size: 1.35rem;
    text-align: center;
}

.client-card p {
    margin: 5px 0;
    text-align: center;
    /* Darker gold text 5f4b00*/
}

.vendor-icon {
    position: absolute; /* Position icon absolutely */
    top: 10px; /* Distance from top */
    left: 10px; /* Distance from right */
    width: 32px; /* Set appropriate width */
    height: 32px; /* Set appropriate height */
}
.ipmi-icon {
    position: absolute; /* Position icon absolutely */
    top: 10px; /* Distance from top */
    left: 52px; /* Distance from right */
    width: 32px; /* Set appropriate width */
    height: 32px; /* Set appropriate height */
}