/* ClientData Component Styles */
.infopage-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Ensure two columns */
    gap: 40px;
    justify-content: center;
    padding: 40px;
}

.infopage-card {
    background: #FFFFFF; /* Half way between standard background and white */
    border: 1px solid #bda648;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; /* Ensure no underline */
}

.infopage-card h2 {
    font-size: 32px;
    text-align: center;
}

.infopage-card h3 {
    font-size: 1.35rem;
    text-align: center;
}

.infopage-card p {
    margin: 5px 0;
    text-align: center;
}

.infopage-tile {
    background: #FFFFFF; /* Half way between standard background and white */
    border: 1px solid #bda648;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; /* Ensure no underline */
}

.infopage-tile h2 {
    font-size: 32px;
    text-align: center;
}

.infopage-tile h3 {
    font-size: 1.35rem;
    text-align: center;
}

.infopage-tile p {
    margin: 5px 0;
    text-align: center;
}